<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.2</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="/static/css/font.css">
<link rel="stylesheet" href="/static/css/xadmin.css">
<script src="/static/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/xadmin.js"></script>
<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body ">
						<form class="layui-form layui-col-space5">
							<div class="layui-inline layui-show-xs-block">
								<table id="Mytable2"class="layui-table layui-form">
									<tbody>
										<tr>
											<td width=150px>客户名称:&nbsp&nbsp <span class="x-red" th:text="${clientI.getClientName()}"></span></td>
											<td width=150px>经手人:&nbsp&nbsp
											<span class="x-red" th:text="${employeeI.getEmployeeName()}"> </span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<div class="layui-card-body layui-table-body layui-table-main">
						<table id="Mytable1" class="layui-table layui-form">
							<thead>
								<tr>
									<th>商品ID</th>
									<th>商品名称</th>
									<th>商品单价</th>
									<th>发货数量</th>
									<th>当前库存数量</th>
									<th>经手人</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item: ${orderDetailInformationVoList}">
									<td th:text="${ item.getCommodity().getCommodityId() }"></td>
									<td th:text="${ item.getOrderMasterInformationVo().getClient().getClientName() }"></td>
									<td th:text="${ item.getCommodity().getPrice() }"></td>
									<td contentEditable="true" th:text="${ item.getCommodityNum() }-${ item.getOutBoundNumber() }"></td>
									<td th:text="${ item.getCommodity().getInventoryNumber() }"></td>
									<td th:text="${ item.getOrderMasterInformationVo().getEmployee().getEmployeeName() }"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="width:300px;height:300px">
　		<div style="position:absolute;right:0px;bottom:0px;width:60px;border:1px solid #aaa">
			<button type="button" class="layui-btn layui-btn-lg layui-btn-normal"
			th:onclick = "'javascript : checkFrom(\'' + ${ orderId } + '\')'"
			>提交</button>
		</div> 
	</div>
</body>
<script>
  
   	  function checkFrom(orderId)
   	  {
   		 var tab=document.getElementById("Mytable1");
 	 	 var rows=tab.rows;
 	 	 var inventoryList=new Array();
 	 	 var numList=new Array();
 	 	 for(var i=1;i<rows.length;i++)
	 		 {
 	 			inventoryList[i-1]=rows[i].cells[4].innerHTML;
 	 			numList[i-1]=rows[i].cells[3].innerHTML;
	  		 }
 	 	 for(var i=1;i<rows.length;i++)
 	 		 {
 	 			inventoryList[i-1]=rows[i].cells[4].innerHTML;
	 			numList[i-1]=rows[i].cells[3].innerHTML;
 	 	 	 if(!isNaN(numList[i-1]))
 	 	 	 {    
 	             if(parseInt(numList[i-1])>parseInt(inventoryList[i-1])) 
 	             {     
 	            	layer.msg('库存不足,请先采购', {icon: 5});
 	                 return false;
 	             }    
 	 	 	 }
 	 	 	 else
 	 	 		 {
 	 	 			layer.msg('该项只允许输入数字', {icon: 5});
 	 	 		 	return false;
 	 	 		 }
 	 	   }
 	 	$.ajax({
  		    type: "POST",
  		    url:  "/erp/order/submitOrderOutBound", 		  
  		    data:
  		    {
  		    	numList:numList,
  		    	orderId:orderId
  		    },
  		    error: function(request) {
  		        alert("Connection error");
  		  
  		    },
  		    success: function(data) {
  		    	 location.reload();
  		    }
  				});
   	  }
  	  function sendForm(orderId)
  	  {
  		  var tab=document.getElementById("Mytable1");
  	 	  var rows=tab.rows;
  	 	  var numList=new Array();
  	 	  var inventoryList=new Array();
  	  	 for(var i=1;i<rows.length;i++)
  	  		 {
  	  			numList[i-1]=rows[i].cells[3].innerHTML;
  	  			inventoryList[i-1]=rows[i].cells[4].innerHTML;
  	  		 }
  		$.ajax({
  		    type: "POST",
  		    url:  "/erp/order/submitOrderOutBound", 		  
  		    data:
  		    {
  		    	numList:numList,
  		    	orderId:orderId
  		    },
  		    error: function(request) {
  		        alert("Connection error");
  		  
  		    },
  		    success: function(data) {
  		    	xadmin.father_reload();
  		    }
  		});
  	  }
      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data){

          if(data.elem.checked){
            $('tbody input').prop('checked',true);
          }else{
            $('tbody input').prop('checked',false);
          }
          form.render('checkbox');
        }); 
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
               ids.push($(this).val())
            }
        });
  
        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
</html>