<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-card-body layui-table-body layui-table-main">
          <div class="layui-card">
                      <div class="layui-card-body ">
     				       <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="name" name="name"  placeholder="请输入商品名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="query" lay-filter="query"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                                </form>
                             </div>
                         </div>
						<table class="layui-table layui-form">
							<thead>
								<tr>
									<th>操作</th>
									<th>商品ID</th>
                                    <th>商品名称</th>
                                    <th>商品品牌</th>
                                    <th>商品纸种</th>
                                    <th>商品规格</th>
                                    <th>商品重量</th>
                                    <th>商品价格</th>
                                    <th>vip价格</th>
                                    <th>级别</th>
                                    <th>安全库存</th>
                                    <th>当前库存</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- 在这里执行添加逻辑 -->
									
									<tr th:each="item: ${CommodityList}">
                                    <td class="td-manage" ><a  href = "javascript:void(0)" title="添加" 
                                     th:onclick = "'javascript : addCommodity(\'' + ${ item.getCommodityId() } + '\')'">
                                    <i class="layui-icon"></i>
									</a>
                                    <td id="commodityId" th:text="${item.getCommodityId()}"></td>
                                    <td th:text="${item.getCommodityName()}"></td>
                                    <td th:text="${item.getBrand()}"></td>
                                    <td th:text="${item.getPaperClass()}"></td>
                                    <td th:text="${item.getPaperSize()}"></td>
                                    <td th:text="${item.getPaperWeight()}"></td>
                                    <td th:text="${item.getPrice()}"></td>
                                    <td th:text="${item.getVipAccount()}"></td>
                                    <td th:text="${item.getRank()}"></td>
                                    <td th:text="${item.getSafeInventory()}"></td>
                                    <td th:text="${item.getInventoryNumber()}"></td>
								</tr>
							</tbody>
						</table>
					</div>
        <script>
        function addCommodity(id)
        {
        	var index = parent.layer.getFrameIndex(window.name);
            //关闭当前frame
            parent.layer.close(index);
            $.ajax({
     		    type: "POST",
     		    url: "/erp/outbound/addCommodity", 
     		　　data:
     		    {
	        		　 id: id
     		　　}, 
     		　　success: function(result){
     				xadmin.father_reload();
     		　　}
     		});
        }
        layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(query)',
                function(data) {
                	$.ajax({
            		    type: "POST",
            		    url: "erp/outbound/queryj",
            		　　data:
            		    {
            			name: $("#name").val()
            		　　}, 
            		　　success: function(result){
            		　　}
            		});
                    layer.alert("查询成功", {
                        icon: 6
                    },
                    function() {
                        //关闭当前frame
                        location.reload();
                        // 可以对父窗口进行刷新 
                    });
                    return false;
                });

            });</script>
    </body>

</html>